<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BorderlessGaming.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>

        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
<userSettings>
        <BorderlessGaming.Properties.Settings>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseGlobalHotkey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMouseLockHotkey" serializeAs="String">
                <value>False</value>
            </setting>
        </BorderlessGaming.Properties.Settings>
    </userSettings>
</configuration>
