<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net452" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net452" />
  <package id="TaskScheduler" version="2.8.8" targetFramework="net452" />
</packages>